{% extends "base.html" %}
{% block content %}
    <h1>Sign in</h1>
    <form action="" method="post" novalidate>
{#    生成一个隐藏字段，其中包括用来防止CSRF攻击的令牌#}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color:red;">[{{ error }}]</span>
			{% endfor %}
        </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <button><a href="{{ url_for('register') }}">点我注册</a></button>
{#    <p>New User? </butto><a href="{{ url_for('register') }}">Click to Register!</a></p>#}
{% endblock %}